@media (min-width: 481px) and (max-width: 768px) {
    body{
        background-color: rgba(255, 187, 0, 0.986);
        background-image: url("https://i.pinimg.com/564x/1c/02/20/1c022001c80c4d0d2a13da2137ca56ff.jpg");
    }

    nav{
        background: linear-gradient(90deg, #0052cc, #00c7ff);
        padding: 15px;
        display: flex;
        justify-content: center;
        gap: 30px;
        border-radius: 30px;
        transition: 0.3s;
    }

    a{
        color: black;
        text-decoration: none;
    }

    h1{
        color: rgb(253, 255, 255);
        text-align: center;
        font-style: italic;
    }

    table{
        background-color:darksalmon;
        border: 15px;
        left: 2px;
        right: 2px;
        top: 15px;
    }

    thead{
        background-color:rgb(240, 240, 9);
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    tbody{
        background-color: crimson;
        color:white;
        font-weight: 700;
        font-family:'Times New Roman', Times, serif;
    }

    tfoot{
        background-color: darksalmon;
        color:black;  
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif; 
    }
    input{
        background-color: rgb(165, 253, 0);
        color: black;
        padding: 3px;
        border-radius: 10px;
        font-weight: 700;
    }
    footer{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        color:rgb(255, 255, 255);
        font-weight: 700;
        text-align: center;
    }
}