@media (min-width: 320px) and (max-width: 480px) {
    h1{
        color: black;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    h1{
        color: aqua;
    }
}

@media (min-width: 769px) and (max-width: 1669px){
    h1{
        color:blueviolet;
    }
}